*, html {
    margin: 0;
    padding: 0;
}

:root {
    --main-z-index: 5;
    --widget-z-index: 2;
    --widget-text-z-index: 3;
    --background-color: #0a1426;
    --light-font-color: aliceblue;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 50pt 1fr 1fr 50pt;
    grid-template-rows: 100pt repeat(2, 1fr) 200pt;
    grid-template-areas:
    "header header profile profile"
    ". content stats ."
    ". table table ."
    ". animation animation ."
    "footer footer footer footer";
}



