*, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
}

:root {
    --main-z-index: 5;
    --widget-z-index: 2;
    --widget-text-z-index: 3;
    --background-color: #ffffff;
    --font-color: #262a36;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 3fr 0.3fr 0.7fr;
    grid-template-areas:
    "content content content"
    ". stats ."
    ". table .";
}



