.main {
    display: grid;
    grid-area: content;
    position: relative;
    background-color: transparent;
    z-index: var(--widget-z-index);
}

.image {
    background-size: cover;
    filter: blur(2pt);
    -webkit-filter: blur(2pt);
    overflow: hidden;
}

.temperature {
    position: absolute;
    display: inline;
    color: var(--light-font-color);
    font-family: monospace;
    font-size: 60pt;
    z-index: var(--widget-text-z-index);
    top: 60%;
    left: 10%;
    margin: -35px 0 0 -35px;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}

.status {
    position: absolute;
    display: inline;
    color: var(--light-font-color);
    font-family: monospace;
    font-size: 20pt;
    z-index: var(--widget-text-z-index);
    bottom: 10%;
    left: 5%;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}

.greeting {
    position: absolute;
    display: inline;
    color: var(--light-font-color);
    font-family: monospace;
    font-size: 20pt;
    z-index: var(--widget-z-index);
    top: 10%;
    left: 5%;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}