.main {
    display: grid;
    grid-area: content;
    position: relative;
    background-color: transparent;
    z-index: var(--widget-z-index);
}

.image {
    background-size: cover;
    border-radius: 10pt;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(131, 76, 194, 0.2);
    border-radius: 10pt;
    width: 100%;
    height: 100%;
}

.temperature {
    position: absolute;
    color: var(--light-font-color);
    font-size: 4vmax;
    z-index: var(--widget-text-z-index);
    top: 60%;
    left: 5%;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}

.main_temperature {
    display: inline;
}

.minor_temperature {
    display: inline;
    font-size: 2vmax;
}

.status {
    position: absolute;
    display: inline;
    color: var(--light-font-color);
    font-size: 1.5vmax;
    z-index: var(--widget-text-z-index);
    bottom: 10%;
    left: 5%;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}

.greeting {
    position: absolute;
    display: inline;
    color: var(--light-font-color);
    font-size: 2vmax;
    z-index: var(--widget-z-index);
    top: 10%;
    left: 5%;
    background: transparent;
    -webkit-text-stroke: 2pt rgba(0,0,0,.15);
}