.stats {
    grid-area: stats;
    padding-left: 15pt;
    text-align: center;
    text-justify: newspaper;
}

.stats-values {
    padding-left: 5pt;
    display: inline;
    color: var(--font-color);
    font-size: 1.8vmax;
}

.stats-names {
    display: inline;
    color: var(--font-color);
    font-size: 1vmax;
    padding-left: 1vw;
}