.header {
    grid-area: head;
    z-index: var(--main-z-index);
    background-color: rgba(131, 76, 194, 0.1);
}

.profile {
    grid-area: profile;
    z-index: var(--main-z-index);
    background-color: rgba(131, 76, 194, 0.1);
}